{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>
    table.borderless td,table.borderless th{
       border: none !important;
    }
</style>

 <section>
    <div class="row" id="tablerow">
    <div class="col-md-4 col-xs-12">
      <div class="panel panel-primary">
        
        <div class="panel-body">
          <h5>Enter Voucher Code Below<br><small>If multiple, separate each with comma</small></h5>

          <div>
            <form action="." method="post">
              {% csrf_token %}
              <input type="text"  name="voucher_codes" class="form-control" id="voucher_code" required>
              <input type="hidden"  name="order_id" value="{{ order.id }}">
              <br>
              <span>
                <input type="submit" class="btn btn-warning pull-right" value="Apply Voucher"> 
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-xs-12">
      <table class="table">
        <tr>
          <td><h4>Order Summary</h4></td>
        </tr>
        <tr>
          <td>
            {% for item in order.get_cart_items %}
              <tr>
                <td>{{ item }}</td>
                <td>R {{ item.product.price }}</td>
              </tr>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <td><strong>Order Total</strong> </td>
          <td> <strong>R {{ order.get_cart_total }}</strong></td>
        </tr>
      </table>
        <form method="POST" action="{% url 'shopping_cart:process_payment' order.id %}">
          {% csrf_token %}
          <button style="width: 50%; float: left;" class="btn btn-warning">Pay with card</button>
          
        </form>
        <!-- for another day -->
        <form method="POST" action="{% url 'shopping_cart:process_payment' order.id %}">
          {% csrf_token %}
          <button style="width: 50%; float: right;" class="btn btn-primary">Pay with Paypal</button>
        </form>
    </div>
   </div>
  <!-- </form> -->
 </section>
{% endblock content %}

{% block scripts %}
  {{ block.super }}

  <!-- initialize jQuery Library -->
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <!-- Bootstrap jQuery -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
      
{% endblock scripts %}

