{% extends 'base.html' %}

{% block content %}
    {{ message }}
    <div class="row">
    {% for object in object_list %}
        <div class="col-sm-3">
            <p>{{ object.name }}</p>
            <p>Price: ${{ object.price }}</p>
            {% if object in user.profile.ebooks.all %}
            <!-- add a button here to see the product -->
            You own this
            {% elif object in current_order_products %}
            <a href="{% url 'shopping_cart:order_summary' %}" class="btn btn-warning">Go to Cart</a>
            {% else %}
            <a href="{% url 'shopping_cart:add_to_cart' object.id %}" class="btn btn-warning">Add to Cart</a>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock content %}